.conference-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  background: var(--section-1st-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 50px;

  @media (max-width: 767px) {
    padding: 25px;
  }

  .sub-modal {
    background: var(--box-1st-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 50px;

    @media (max-width: 767px) {
      padding: 25px;
    }
    .input-group-prepend {
      .input-area input {
        color: #000000 !important;
      }
      .form-control {
        padding: 10px 25px 10px 10px;
        cursor: pointer;
      }
    }
  }
  ::ng-deep {
    .c-btn .btn:disabled,
    .btn.disabled,
    fieldset:disabled .btn {
      border: unset;
    }

    .input-area fa-icon svg path {
      fill: #000000;
      opacity: 0.9;
    }
  }
}
