.main-container {
  height: 100vh;
  width: 100vw;

  .text-s {
    font-size: min(max(18px, 1vw), 24px);
  }
  .c-fonts {
    font-size: min(max(24px, 4vw), 44px);
    font-weight: 600;
  }

  .text-transform{
    text-transform: none;
    text-wrap: pretty;
  }

  .custom-height {
    background-image: url(/assets/images/landingpage/Translate.tube-hm-pg.jpg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: calc(100vh - 48px);

    .banner-text {
      max-width: 790px;
      width: 100%;
      background-color: #ffff;
      border-radius: 5px;
      padding: 20px 40px;
    }

    @media (max-width: 576px) {
      background-size: cover;
      background-position: 10%;
      // background-image: url(/assets/images/Translate.tube-mobile.png);
      // .banner-text {
      //   display: none;
      // }
    }
  }
  .sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;

    .head-text {
      font-size: min(max(25px, 2vw), 36px) !important;
      @media (max-width: 684px) {
        line-height: 24px;
      }
    }

    .sub-text {
      color: #11134d !important;
      font-size: min(max(14px, 2vw), 24px);
    }
    .c-width {
      max-width: 722px;
      @media (max-width: 684px) {
        line-height: 24px;
        padding: 0;
      }
    }
  }
  .c-footer {
    max-height: 530px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .footer-txt {
      color: #fff;
      font-size: min(max(15px, 2vw), 20px) !important;
      text-align: center;
      padding: 0 10px;
      @media (max-width: 600px) {
        line-height: 19px;
      }
    }
  }
}

.landing-btn {
  .btn-primary {
    background: #11134d;
    color: #fff;
    border: #11134d;
    height: 38px;
  }
  .btn-outline {
    border-color: #11134d;
    color: #11134d;
    height: 38px;
  }
}

.main-area {
  cursor: pointer;
  position: fixed;
  width: 300px;
  top: 0;
  background: white;
  right: 0;
  height: 100vh;
  z-index: 999;

  @media (min-width: 768px) {
    display: none;
  }
  @media (max-width: 768px) {
    display: block;
  }
  .c-btn {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 26px;
    width: 26px;
    border: 2px solid var(--bs-border-color);
    border-radius: 50%;
    padding: 4px;

    svg path {
      fill: #fff;
    }
  }
  ul {
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 16px 0;
      color: var(--heading-1st-color);
    }

    li {
      &:last-child {
        border-top: 1px solid var(--bs-border-color);
        border-bottom: 1px solid var(--bs-border-color);
      }

      // &:first-child {
      // border-bottom: 1px solid var(--bs-border-color);
      // }
    }
  }
}
::ng-deep.c-button-landing {
  svg path {
    fill: #000428;
  }
}
