.appoinment-call-container {
  height: calc(100vh - 72px);

  .iframe-model {
    height: calc(92vh - 4px);

    @media (max-width:500px) {
      height: calc(86vh - 4px);
    }
  }

  .iframe-model-converted {
    height: calc(70vh - 4px);

    
    @media (max-width:500px) {
      height: calc(65vh - 10px);
    }
  }

  .translate-options {
    select {
      width: 220px;
      option {
        color: unset;
      }
    }
  }

  .transcript-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("/assets/images/translate-button.png");
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    outline: none;
    left: 10px;
    top: 10px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}
